<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ガチャ結果</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.css"
  />

</head>
    <div class="background_a">
      <body style="background-image: url(../static/img/IMG_4257.jpg)">
        <header>
          <div class="header">
            <div>
              <a href="/">
                <h3>柑橘<br />オールスターズ</h3></a
              >
            </div>
            <div>
              <a href="" class="btn">もう一回</a>
            </div>
          </div>
        </header>
        <div class="com">
          <h2>{{mikan_data["come"]}}</h2>
        </div>
        <!-- <div class="come">
          <h2>CSSでつくる見出しデザインああああああああああああああああああああああああ</h2>
        </div> -->
        <div class="distorted-circle">
            <ul>
              <h2 class="mikan-name">{{mikan_data["name"]}}</h2>
              <p>
                <img
                  src='{{ url_for("static", filename="img/"+mikan_data["photo"])}}'
                />
              </p>
              <p>旬：{{mikan_data["birthday"]}}</p>
              <p>レア度：{{mikan_data["rarity"]}}</p>
              <p>甘さ：{{mikan_data["taste"]}}</p>
              <p>{{mikan_data["means"]}}</p>
              <p>{{mikan_data["eat"]}}</p>
              <!-- <p>{{mikan_data["url"]}}</p> -->
              <p>ここで買える：<a href="{{mikan_data["url"]}}" target="_blank">{{mikan_data["site"]}}</a></p>
            </ul>
        </div>
      </body>
    
        <footer></footer>
    
    </div>
</html>