<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>柑橘オールスターズ</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- リセットCSSのCDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.css"
    />

    <!-- stylesheet -->
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    /> -->
  </head>
  <body style="background-image: url(../static/img/IMG_0413\ -\ コピー.JPG)">
    <header class="top">
      <h1>柑橘オールスターズ</h1>
    </header>

    <div class="text">
      <p>いろいろな品種がある柑橘でガチャを作ってみました。</p>
    </div>

    <main>
      <div class="background">
        <div class="container">
          <a href="/gacha" class="btn_a btn-primary">ガチャを回す</a>
        </div>
      </div>
    </main>
  </body>
</html>
